// Font Awesome
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
$contentBackgroundColor: #f0f0f7;
$linkColor: #31b2e6;
$panelBackgroundColor: #d5e6fb;
$panelBorderColor: #212529;
$restoreColor: #19d619;
$filterButton: #5ee2a0;
$resetButton: #ffc162;
body {
    font-family: "Source Sans Pro", sans-serif !important;
}

.w-95 {
    width: 95%;
}

.white-background {
    background-color: white;
}

.content-background {
    background-color: $contentBackgroundColor !important;
}

.font-1-25 {
    font-size: 1.25rem;
}

.font-1-5 {
    font-size: 1.5rem !important;
}

.font-bold {
    font-weight: 600;
}

.link-color {
    color: $linkColor !important;
}

.button-color {
    background-color: $linkColor !important;
}

.close-modal-icon {
    color: red !important;
    font-size: 2rem;
}

.panel-background {
    background-color: $panelBackgroundColor !important;
}

.panel-border {
    border: solid $panelBorderColor 1rem !important;
}

// Margins
.mr-6 {
    margin-right: 4.5rem;
}

.ml-1-2-neg {
    margin-left: -1.2rem;
}

.ml-3-8-neg {
    margin-left: -3.8%;
}

.ml-2-5 {
    margin-left: 2.5rem;
}

.mr-4-0 {
    margin-right: 4rem;
}

.m-l-2-4 {
    margin-left: 2.4% !important;
}

.ml-2-rem {
    margin-left: 2rem !important;
}

.mt-2-rem {
    margin-top: 2rem !important;
}

.mt-0-5 {
    margin-top: 0.5rem;
}

.m-l-47-5 {
    margin-left: 47.5% !important;
}

.mx-2-25 {
    margin: auto 2.25rem !important;
}

.mt-0-75-neg {
    margin-top: -0.75rem;
}

.ml-1-neg {
    margin-left: -1rem;
}

.mr-1-neg {
    margin-right: -1rem;
}

.ml-3-neg {
    margin-left: -3rem;
}

// Text Color
.red-text {
    color: red !important;
}

.green-text {
    color: $restoreColor !important;
}

// Width
.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10% !important;
}

.w-95 {
    width: 95% !important;
}

#pending-incidents-table_filter {
    float: right;
    margin-right: 5%;
}

#customer-subscriptions-table_filter {
    float: right;
}

#customers-table_filter {
    position: relative;
    left: 83.5%;
    bottom: 115px;
}

// #subscriptions-table_filter {
//     position: relative;
//     left: 5%;
//     bottom: 115px;
// }
#system-admins-table_filter {
    float: right;
    margin-right: 5%;
}

#subscriptions-table_filter {
    float: right;
    margin-right: 5%;
}

#dispatched-incidents-table_filter {
    float: right;
    margin-right: 5%;
}

#resolved-incidents-table_filter {
    float: right;
    margin-right: 5%;
}

.dataTables_length {
    margin: 3% auto auto 5% !important;
}

.custom-select {
    width: 40% !important;
}

.dataTables_info {
    margin-left: 3% !important;
}

.dataTables_paginate {
    float: right !important;
    margin-right: 5% !important;
    margin-top: -2% !important;
}

.pl-0-75 {
    padding-left: 0.75rem !important;
}

#partner-service-heading {
    padding-left: 0.75rem !important;
}

.date-select {
    width: 15% !important;
}

.dt-buttons {
    margin: -3% 35% -4% !important;
}

.dt-button-collection {
    margin-top: 10% !important;
}

.ml-3-pc {
    margin-left: 3% !important;
}

.blue-background {
    background-color: #e5e5ff !important;
}

.blue-font {
    color: #3b86ff;
}

.table-head-color {
    background-color: #f5f6fa;
}

// Sign In Screen
.sign-in-screen-welcome-text {
    height: 50px;
    font: normal normal bold 35px/21px Source Sans Pro;
    letter-spacing: 7px;
    color: #000000;
    opacity: 1;
}

.sign-in-screen-instruction-text {
    letter-spacing: 0px;
    color: #4d4f5c;
    opacity: 0.5;
    margin-top: -1rem;
}

.sign-in-screen-login-button {
    width: 185px;
    height: 50px;
    background: #000000 !important;
    border-radius: 4px;
    opacity: 1;
    color: white !important;
}

.custom-navbar {
    width: 100%;
    height: 70px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000a;
    opacity: 1;
}

.custom-navbar-contents {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

.left-panel-logo {
    top: 26px;
    left: 20px;
    width: 53px;
    height: 21px;
    text-align: left;
    font: normal normal bold 21px Source Sans Pro;
    letter-spacing: 3px;
    color: #ffffff;
    opacity: 1;
}

#pending_incidents_filter_incident_type,
#resolved_filter_incident_type,
#dispatched_incidents_filter_incident_type {
    width: 20% !important;
}

.filter-button {
    background-color: $filterButton;
    width: 72px;
    height: 40px;
    border-radius: 4px;
    opacity: 1;
}

.reset-button {
    width: 72px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 4px;
    opacity: 1;
}

#pending-incidents-table_length,
#resolved-incidents-table_length,
#dispatched-incidents-table_length,
#customers-table_length {
    margin: 2rem auto auto 2.6rem !important;
}

.dropdown-filters {
    float: right;
    padding-right: 3.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.filters-dropdown-button {
    background-color: #3b86ff;
    text-align: center;
    font: normal normal normal 18px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    position: relative;
    left: 90.5%;
    top: 20px;
}

.card__customers--border {
    box-shadow: 0px 2px 6px #0000000a;
    opacity: 1;
}

.card__customer-residence-details--margin {
    margin-left: 0.5rem;
}

.card__customer-residence-text--margin {
    margin-top: -3rem;
}

.card__customer-residence--height {
    height: 100%;
}

.card__customer-details--margin {
    margin-right: 0.5rem;
}

.panel-title {
    height: 25px;
    text-align: left;
    font: normal normal bold 18px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4d4f5c;
    opacity: 1;
}

.panel-sub-title {
    text-align: left;
    font: normal normal normal 15px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.panel-details {
    text-align: left;
    font: normal normal normal 15px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.lower-panel-customer-details-section {
    width: 97%;
    border-top: 1px solid #f1f1f3;
    opacity: 1;
    margin-left: 0.5rem;
}

.customer-details-container {
    background-color: #ffffff;
    padding: 3rem;
    margin: -1rem;
}

.customer-details-title-font {
    text-align: left;
    font: normal normal bold 18px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4d4f5c;
    opacity: 1;
}

#customer-subscriptions-table_length {
    margin: 2rem auto auto 0rem !important;
}

.workflow-border {
    border-right: 1px solid #e9e9f0;
    opacity: 1;
}

.pagination__li--border {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d7dae2;
    opacity: 1;
}

.pagination__li--activeborder {
    background: #3b86ff 0% 0% no-repeat padding-box;
    border: 1px solid #d7dae2;
    opacity: 1;
}

.form__table-search--margin {
    margin-left: 4rem;
}

.form__table-search--border {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e8e9ec;
    border-radius: 4px;
    opacity: 1;
}

.form__table-pagination--border {
    box-shadow: 0px 2px 3px #0000000d;
    border: 1px solid #d7dae2;
    border-radius: 4px;
    opacity: 1;
}

.table__details-page {
    &--width {
        width: 103% !important;
    }
    &--margin {
        margin-left: -1rem !important;
    }
}

.card__customer-detail-panel--border {
    box-shadow: 0px 2px 6px #0000000a;
    opacity: 1;
}

.table {
    &__solved-status-column--color {
        text-align: left;
        font: normal normal normal 13px/20px Source Sans Pro;
        letter-spacing: 0px;
        color: #5ee2a0;
        opacity: 1;
    }
    &__unsolved-status-column--color {
        text-align: left;
        font: normal normal normal 13px/20px Source Sans Pro;
        letter-spacing: 0px;
        color: #ffcd00;
        opacity: 1;
    }
    &__false-alarm-status-column--color {
        text-align: left;
        font: normal normal normal 13px/20px Source Sans Pro;
        letter-spacing: 0px;
        color: #808495;
        opacity: 1;
    }
    &__pending-status-column--color {
        text-align: left;
        font: normal normal normal 13px/20px Source Sans Pro;
        letter-spacing: 0px;
        color: #e20c0c;
        opacity: 1;
    }
    &__status-column--uc-transform {
        text-transform: uppercase;
        font: normal normal bold 13px/20px Source Sans Pro;
    }
}

.modal__close-icon--size {
    font-size: 2rem !important;
}

.location-card--border {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000a;
    opacity: 1;
}

.customer-card__view-map-button {
    background-color: #3b86ff;
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.large-table__image {
    width: 40px;
    height: 40px;
}

.small-table__image {
    width: 43px;
    height: 43px;
}

.guardian-table__image {
    width: 43px;
    height: 43px;
}

.details-page-image {
    border-radius: 50%;
    height: 60px;
}

.table {
    &__more-actions-icon {
        float: right;
        margin-right: 2rem;
    }
    &__more-actions-button {
        border: none;
        background-color: white;
        color: #4d4f5c;
        opacity: 1;
        width: 100%;
    }
    &__more-actions-export-icon {
        padding: 1rem;
        font-size: 1.25rem;
        margin-right: 3%;
        border-radius: 50%;
    }
    &__more-actions-export-pdf-icon--color {
        color: #ffca83;
        border: 1px solid #ffca83;
    }
    &__more-actions-export-excel-icon--color {
        color: #a3a1fb;
        border: 1px solid #a3a1fb;
    }
    &__more-actions-export-csv-icon--color {
        color: #ff7285;
        border: 1px solid #ff7285;
    }
}

.incident-map {
    &--margin {
        margin-left: -3.1%;
        margin-top: -2rem;
    }
    &--height {
        height: 300px;
    }
}

.invoice-card {
    &__header-title {
        text-align: left;
        font: normal normal normal 28px/40px Source Sans Pro;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    &__header-body {
        font: normal normal normal 13px/20px Source Sans Pro;
        letter-spacing: 0px;
        color: #4d4f5c;
        opacity: 1;
    }
    &__button {
        border-radius: 4px;
        opacity: 1;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        &--print-color {
            background: #000000 0% 0% no-repeat padding-box;
        }
        &--submit-color {
            background: #3b86ff 0% 0% no-repeat padding-box;
        }
    }
    &__button-text {
        text-align: center;
        font: normal normal normal 15px/21px Source Sans Pro;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }
    &__badge-container {
        margin: 0.5rem 0;
    }
    &__badge {
        border-radius: 14px;
        opacity: 0.3;
        padding: 0.5rem 1rem;
        color: #000000;
        width: 100%;
        text-align: center;
        &--pending-color {
            background: #ffca83 0% 0% no-repeat padding-box;
        }
        &--paid-color {
            background: #00d2a3 0% 0% no-repeat padding-box;
        }
    }
    &__price-text {
        font: normal normal bold 28px/40px Source Sans Pro;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
}

.subscription-invoice-table {
    background-color: white;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.grouped-invoices-card {
    &__table--icon-color {
        color: #3b86ff;
    }
    &--box-shadow {
        box-shadow: 0px 2px 6px #0000000a;
    }
}

.form__input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: calc(1.5em + 0.75rem + 2px);
}

.form__textarea {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.font-1-rem {
    font-size: 1rem;
}

.full-page-form {
    &__button {
        height: 40px;
        border-radius: 4px;
        opacity: 1;
        &--save-color {
            background-color: #5ee2a0;
        }
        &--back-border {
            border: 1px solid #000000;
        }
    }
}

.customer-details-page {
    &__reset-button {
        position: relative;
        left: 88.8%;
        margin-top: 1rem;
    }
    &__alert-history-div {
        &--position {
            position: relative;
            left: 82.2%;
            margin-top: 1rem;
        }
    }
    &__filter-button {
        background-color: #3b86ff;
        text-align: center;
        font: normal normal normal 18px/25px Source Sans Pro;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        display: inline-block;
    }
}

.main-table {
    &__search-form {
        width: 73%;
        display: inline-block;
    }
    &__reset-button {
        margin-left: -10%;
        margin-top: -0.75rem;
    }
}

.incidents-table__search-form {
    float: right;
    width: 80%;
}

.incident-tally-text {
    font-size: 1.25rem;
}

.incident-tally-number {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}

.incident-tally--border {
    border: solid 1px aliceblue;
    padding: 1rem;
}

.incident-tally-container {
    margin-left: 1px;
}

@media print {
    .print-display-none {
        display: none;
    }
}
